manifest.mf
build.xml
build/
nbproject/
/test/sisepuede.java
/test/conectando.java
/test/
/src/anterior/conexionPHP/
/src/anterior/formularios/
/src/anterior/BDD/
/dist/
/src/config/*.properties
